html body {
    margin: 0;
    padding: 0;
}

body {
  background-image: url(fondo-piashoes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 960px) {
    h1 {
        margin: 0;
    }
}

header {
    background-color: #E76B90;
    position: fixed;
    width: 100%;
    z-index: 5;
    text-align: center;
    height: 10%;
}

.bgimg {
    width: 10%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    border: #E76B90 ;
    border-radius: 15px;
}

h1 {
    text-align: center;
    position: relative;
    top: 300px;
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 80px;
    padding-top: 80px;
    text-transform: uppercase;
    animation-delay: 0s;
    animation-duration: 3s;

}

footer {
    background-color: #E76B90;
    color: #fff;
}

.footer p {
    font-family: 'Raleway', sans-serif;
    text-decoration: uppercase;
    font-size: 15px;
}

.footer {
  max-width: 940px;
  margin: auto;
  padding: 25px 10px;
  text-align: center;
}

.container {
    max-width: 940px;
    margin: auto;
    padding: 30px 10px;
    text-align: center;
}

.jumbotron {
    height: 871px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
    
.supporting .col {
      width: 100%;
}

.social-menu {
    animation-duration: 2s;
    animation-delay: 0s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #40E85F;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
  